body {
    background-color:   rgb(244, 240, 215);
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
  
.navbar {
    width: 100%;
    background: #fea3a3;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 100; 
}
  
.dashboard-title {
    color: rgb(24, 24, 24);
    font-size: 22px;
    font-weight: bold;
    background: transparent; 
    margin: 0 auto; 
    flex-grow: 1; 
    text-align: center;
}
  
.nav-buttons {
    display: flex;
    gap: 10px;
    background: transparent;
    align-items: center;
}
  
.profile-btn,
.logout-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    background-color: inherit;
}
  
  .profile-btn {
    background-color: #ffcc00;
    color: black;
  }
  
  .profile-btn:hover {
    background-color: #e6b800;
  }
  
  .logout-btn {
    background-color: #ffcc00;
    color: black;
  }
  
  .logout-btn:hover {
    background-color: #e6b800;
  }
  
  .vacancy-card {
    background: white;
    padding: 50px;
    width: 750px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    margin-top: 120px; 
}
  
  .vacancy-status {
    font-size: 18px;
    font-weight: bold;
    color: #ff4d6d;
    margin: 15px 0;
    padding: 30px;
  }
  
  .vacancy-message {
    font-size: 14px;
    color: #393939;
    margin-bottom: 20px;
    line-height: 30px;
  }
  
  .vacancy-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    align-items: center;
  }
  
  .vacancy-btn,
  .no-vacancy-btn {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
  }
  
  .vacancy-btn {
    background-color: lightgreen;
    color: black;
  }
  
  .vacancy-btn:hover {
    background-color: #32cd32;
  }
  
  .no-vacancy-btn {
    background-color: lightcoral;
    color: white;
  }
  
  .no-vacancy-btn:hover {
    background-color: #cc2b2b;
  }
  
  .inside-background {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
  }

  .textcolor {
    color: black;
  }